label {
	color: #fdcc52 !important;
}
li{

	list-style-type: none;
	padding-top: 10px;
}
ul{
		padding: 0px;
}
button{
	background: #FFF;
}
#login_msg{
    text-align: right;
    color: #FFF;
}
.card{
	color:#000; margin-bottom:20px;
}
.cont_main{
    background: url(../img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430);
    padding-top: 60px;
    min-height: 100vh;    
}

.service_icon{
	margin: 10px;
}

.date_reservation{
	text-align: center;
}

.img_user_profile{
	max-width: 95px;
	border-radius: 50%;
	border: 3px solid #6c757d;
}
.img_incident_profile{
	width: 95px;
	height: 95px;
	max-width: 95px;
	max-height: 95px;
	border-radius: 50%;
	border: 3px solid #6c757d;	
}