doctype html
html(lang="en")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-36712930-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-36712930-2');
    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title GESTCOMUNIDADES
    // Bootstrap core CSS
    link(href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(href="/vendor/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet")
    // Custom fonts for this template
    link(rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet")
    // Custom css for Gestcomunidades
    link(rel="stylesheet" href="/stylesheets/style.css")
    // Plugin CSS
    link(rel="stylesheet" href="/device-mockups/device-mockups.min.css")
    // Custom styles for this template
    link(href="/css/new-age.min.css" rel="stylesheet")
    // Bootstrap core JavaScript
    script(src="/vendor/jquery/jquery.min.js")
    script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")   
    script(src="/vendor/bootstrap/js/bootstrap-datetimepicker.min.js")   
    // Plugin JavaScript
    script(src="/vendor/jquery-easing/jquery.easing.min.js")      
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href="#page-top") GestComunidades
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          | Menu
          i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/user") Usuario            
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/residents") Vecinos
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/services") Servicios
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/reservations") Reservas                            
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/notices") Notificaciones
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/incidents") Incidencias              
            li.nav-item
              a.nav-link.js-scroll-trigger(href="/logout") Salir
    block content
    footer
      .container
        p © GestComunidades 2018. All Rights Reserved.
        ul.list-inline
          li.list-inline-item
            a(href="#") Privacy
          li.list-inline-item
            a(href="#") Terms
          li.list-inline-item
            a(href="#") FAQ
    // Custom scripts for this template
    script(src="/js/new-age.min.js")            
