extends header

block content
  header.cont_main
    .container.h-100
      .row.h-100
        each incident in incidents_list
          .col-lg-12.my-auto.mx-auto          
            <div class="card">
              <div class="card-body">
              <div class="row">
                <div class="col-lg-10">
                  <h2> #{incident.title}</h2>
                </div>
                <div class="col-lg-2">
                  <img class="img_incident_profile" src="/images/incidents/#{incident._id}.jpg" onerror="this.src='/images/icons/incident_default.jpg';"/></img>
                </div>                
                <div class="col-lg-10">
                  <i class="icon-email text-secondary"></i><label>Comentario: </label>
                </div>
                <div class="col-lg-10">
                  <span> #{incident.comment}</span>
                </div>              
                <div class="col-lg-10">
                  <i class="icon-email text-secondary"></i><label>Fecha: </label>
                </div>
                <div class="col-lg-10">
                  <span>#{incident.date}</span>
                </div>              
              </div>
              </div>
            </div>                     