doctype html
html(lang="en")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-36712930-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-36712930-2');    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")      
    title GESTCOMUNIDADES
    // Bootstrap core CSS
    link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    // Custom fonts for this template
    link(rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet")
    // Plugin CSS
    link(rel="stylesheet" href="device-mockups/device-mockups.min.css")
    // Custom styles for this template
    link(href="css/new-age.min.css" rel="stylesheet")
  body#page-top
    #construccion(style=' background: yellow; align-content: center; position: fixed; bottom: 0px; width: 100%; z-index: 100;')
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href="#page-top") GestComunidades
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          | Menu
          i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#download") Descarga
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#features") Servicios
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#contact") Contacto
            li.nav-item
              a.nav-link.js-scroll-trigger(href="login") Entrar
    // //BLOQUE COOKIES
    #barraaceptacion(style='display: block;')
      .inner
        | Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real 
        | Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies.
        a.ok(href='javascript:void(0);', onclick='PonerCookie();')
          b OK
    script.
      function getCookie(c_name){
      var c_value = document.cookie;
      var c_start = c_value.indexOf(" " + c_name + "=");
      if (c_start == -1){
      c_start = c_value.indexOf(c_name + "=");
      }
      if (c_start == -1){
      c_value = null;
      }else{
      c_start = c_value.indexOf("=", c_start) + 1;
      var c_end = c_value.indexOf(";", c_start);
      if (c_end == -1){
      c_end = c_value.length;
      }
      c_value = unescape(c_value.substring(c_start,c_end));
      }
      return c_value;
      }
      function setCookie(c_name,value,exdays){
      var exdate=new Date();
      exdate.setDate(exdate.getDate() + exdays);
      var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
      document.cookie=c_name + "=" + c_value;
      }
      if(getCookie('tiendaaviso')!="1"){
      document.getElementById("barraaceptacion").style.display="block";
      }
      function PonerCookie(){
      setCookie('tiendaaviso','1',365);
      document.getElementById("barraaceptacion").style.display="none";
      }
    // //FIN BLOQUE COOKIES              
    header.masthead
      .container.h-100
        .row.h-100
          .col-lg-7.my-auto
            .header-content.mx-auto
              h1.mb-5
                | GestComunidades es la nueva aplicación para gestionar toda tu comunidadad desde tu mano!
              a.btn.btn-outline.btn-xl.js-scroll-trigger(href="#download") Descarga ahora gratis!
          .col-lg-5.my-auto
            .device-container
              .device-mockup.iphone6_plus.portrait.white
                .device
                  .screen
                    // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                    img.img-fluid(src="img/demo-screen-1.jpg" alt="")
                  .button
                    // You can hook the "home button" to some JavaScript events or just remove it
    section#download.download.bg-primary.text-center
      .container
        .row
          .col-md-8.mx-auto
            h2.section-heading Descubre todo el potencial!
            p GestComunidades está disponible para móviles! Descárgatela ya y comienza a disfrutar!
            .badges
              a.badge-link(href="https://play.google.com/store/apps/details?id=com.gestcomunidades.gestcomunidades")
                img(src="img/google-play-badge.svg" alt="")
              //a.badge-link(href="#")
                img(src="img/app-store-badge.svg" alt="")
    section#features.features
      .container
        .section-heading.text-center
          h2 Múltiples funciones, Opciones Ilimitadas
          p.text-muted ¡Olvídate de mirar el tablón de anuncios del portal!
          hr
        .row
          .col-lg-4.my-auto
            .device-container
              .device-mockup.iphone6_plus.portrait.white
                .device
                  .screen
                    // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                    img.img-fluid(src="img/demo-screen-1.jpg" alt="")
                  .button
                    // You can hook the "home button" to some JavaScript events or just remove it
          .col-lg-8.my-auto
            .container-fluid
              .row
                .col-lg-6
                  .feature-item
                    i.icon-screen-smartphone.text-primary
                    h3 Todo en tu mano
                    p.text-muted Gestiona tu comunidad desde tu movil o tablet
                .col-lg-6
                  .feature-item
                    i.icon-camera.text-primary
                    h3 Incidencias
                    p.text-muted Fotografía los desperfectos y enviáselo a tu administrador!
              .row
                .col-lg-6
                  .feature-item
                    i.icon-people.text-primary
                    h3 Conecta	
                    p.text-muted Contacta con tus vecinos, portero, administrador o presidente con una llamada
                .col-lg-6
                  .feature-item
                    i.icon-calendar.text-primary
                    h3 Reservas
                    p.text-muted Reserva tu pista de padel, local de la comunidad y mucho más!
    section.cta
      .cta-content
        .container
          h2
            | ¿Usuario registrado?
            br
            | Entra ya!
          a.btn.btn-outline.btn-xl.js-scroll-trigger(href="login") Entrar!
      .overlay
    section#contact.contact.bg-primary
      .container
        h2
          | Nosotros
          i.fa.fa-heart
          |           nuevos amigos!
        ul.list-inline.list-social
          li.list-inline-item.social-twitter
            a(href="https://play.google.com/store/apps/details?id=com.gestcomunidades.gestcomunidades")
              i.fa.fa-twitter
          li.list-inline-item.social-facebook
            a(href="https://play.google.com/store/apps/details?id=com.gestcomunidades.gestcomunidades")
              i.fa.fa-facebook
          li.list-inline-item.social-google-plus
            a(href="https://play.google.com/store/apps/details?id=com.gestcomunidades.gestcomunidades")
              i.fa.fa-google-plus
    footer
      .container
        p © GestComunidades 2018. All Rights Reserved.
        ul.list-inline
          li.list-inline-item
            a(href="#") Privacy
          li.list-inline-item
            a(href="#") Terms
          li.list-inline-item
            a(href="#") FAQ
    // Bootstrap core JavaScript
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
    // Plugin JavaScript
    script(src="vendor/jquery-easing/jquery.easing.min.js")
    // Custom scripts for this template
    script(src="js/new-age.min.js")
