doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title GESTCOMUNIDADES
    // Bootstrap core CSS
    link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    // Custom fonts for this template
    link(rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet")
    // Plugin CSS
    link(rel="stylesheet" href="device-mockups/device-mockups.min.css")
    // Custom styles for this template
    link(href="css/new-age.min.css" rel="stylesheet")
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href="#page-top") GestComunidades
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          | Menu
          i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#download") Descarga
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#features") Servicios
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#contact") Contacto
            li.nav-item
              a.nav-link.js-scroll-trigger(href="login") Entrar 	  
    // Bootstrap core JavaScript
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
    // Plugin JavaScript
    script(src="vendor/jquery-easing/jquery.easing.min.js")
    // Custom scripts for this template
    script(src="js/new-age.min.js")                	
  body
    block content
