doctype html
html(lang="en")
  head
    title Gestcomunidades login
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // ===============================================================================================
    link(rel="icon" type="image/png" href="images/icons/favicon.ico")
    // ===============================================================================================
    link(rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css")
    link(rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="vendor/animate/animate.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="css/util.css")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    // Custom css for Gestcomunidades
    link(rel="stylesheet" href="/stylesheets/style.css")      
    // ===============================================================================================
  body
    .limiter
      .container-login100(style="background-image: url('images/bg-01.jpg');")
        .wrap-login100
          form.login100-form.validate-form(method="POST", action='/login')
            a(href="/login")
               span.login100-form-logo
                 i.icon-home
            span.login100-form-title.p-b-34.p-t-27
              | Entrar
            if error!=null
                <p id="login_msg"> #{error} </p>             
            .wrap-input100.validate-input(data-validate="Enter username")
              input.input100(type="text" name="username" placeholder="username")
              span.focus-input100(data-placeholder="")
            .wrap-input100.validate-input(data-validate="Enter password")
              input.input100(type="password" name="pass" placeholder="Password")
              span.focus-input100(data-placeholder="")
            .contact100-form-checkbox
              input#ckb1.input-checkbox100(type="checkbox" name="remember-me")
              label.label-checkbox100(for="ckb1")
                | Remember me
            .container-login100-form-btn
              button.login100-form-btn
                | Login
            .text-center.p-t-90
              a.txt1(href="#")
                | Forgot Password?
    #dropDownSelect1
    // ===============================================================================================
    script(src="vendor/jquery/jquery-3.2.1.min.js")
    // ===============================================================================================
    script(src="vendor/animsition/js/animsition.min.js")
    // ===============================================================================================
    script(src="vendor/bootstrap/js/popper.js")
    script(src="vendor/bootstrap/js/bootstrap.min.js")
    // ===============================================================================================
    script(src="vendor/select2/select2.min.js")
    // ===============================================================================================
    script(src="vendor/daterangepicker/moment.min.js")
    script(src="vendor/daterangepicker/daterangepicker.js")
    // ===============================================================================================
    script(src="vendor/countdowntime/countdowntime.js")
    // ===============================================================================================
    script(src="js/main.js")
