extends header

block content
  header.cont_main
    .container.h-100
      .row.h-100
        each notice in notice_list
          .col-lg-12.my-auto.mx-auto          
            <div class="card">
              <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <h2> #{notice.title}</h2>
                </div>
                <div class="col-lg-12">
                  <i class="icon-email text-secondary"></i><label>Comentario: </label>
                </div>
                <div class="col-lg-12">
                  <span> #{notice.comment}</span>
                </div>              
                <div class="col-lg-12">
                  <i class="icon-email text-secondary"></i><label>Fecha: </label>
                </div>
                <div class="col-lg-12">
                  <span>#{notice.date}</span>
                </div>              
              </div>
              </div>
            </div>                     