extends header

block content
  header.cont_main
    .container.h-100
      .row.h-100
        .col-lg-12.my-auto.mx-auto          
          <form method='POST' action=''>
            <div class="card">
              <div class="card-body">
              <h5 class="card-title">Nuevas reservas</h5>
              <div class="row">
                <div class="col-lg-1 my-auto">
                  <label>Service: </label>
                </div>
                <div class="col-lg-1 my-auto mx-auto">
                  <select name="service">
                  each service in service_list
                    <option value=#{service.id}>#{service.name}</option>
                  </select>
                </div>
                <div class="col-lg-2 my-auto mx-auto" style="text-align: center;">
                  <i class="icon-calendar text-secondary service_icon"></i><label>Entrada:</label>
                </div>
                <div class="col-lg-2 my-auto mx-auto" style="text-align: center;">
                  <input type="text" name="date_in" style="width: 100%;" id='datetimepicker_in' class="date_reservation"/>                
                </div>
                <div class="col-lg-2 my-auto mx-auto" style="text-align: center;">
                  <i class="icon-calendar text-secondary service_icon"></i><label>Salida: </label>
                </div>
                <div class="col-lg-2 my-auto mx-auto" style="text-align: center;">                  
                  <input type="text" name="date_out" style="width: 100%;"  id='datetimepicker_out' class="date_reservation"/>
                </div>
                <div class="col-lg-2 my-auto mx-auto" style="text-align: center;">
                  <button class="btn btn-secondary full-width" type="submit" value="Reservar!" style="text-align: center; margin: 20px 0px;">Reservar!</button>
                </div>
              </div>
              </div>
            </div>  
          </form>

        each reservation in reservation_list
          .col-lg-12.my-auto.mx-auto          
            <div class="card">
              <div class="card-body">
              <div class="row">
                <div class="col-lg-2">
                  <span> #{reservation.service.name}</span>
                </div>
                <div class="col-lg-2">
                  <img src="/images/#{reservation.service.name}.jpg" style="border: 1px solid #666; width:100%;"/>
                </div>
                <div class="col-lg-2">
                  <i class="icon-calendar text-secondary service_icon"></i><label>Entrada:</label>
                </div>
                <div class="col-lg-2">
                  <span> #{reservation.date_in_formatted}</span>
                </div>
                <div class="col-lg-2">
                  <i class="icon-calendar text-secondary service_icon"></i><label>Salida: </label>
                </div>
                <div class="col-lg-2">
                  <span>#{reservation.date_out_formatted}</span>
                </div>
              </div>
              </div>
            </div>     
      script(src="/vendor/bootstrap/js/bootstrap-datetimepicker.es.js")   
      script.
        $('#datetimepicker_in').datetimepicker({weekStart:1});
        $('#datetimepicker_out').datetimepicker({weekStart:1});            