extends header

block content
  header.masthead
    .container.h-100
      .row.h-100
        each service in service_list
          .col-lg-3.my-auto.mx-auto          
            <div class="card">
              <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <h2> #{service.name}</h2>
                </div>
                <div class="col-lg-6">
                  <i class="icon-email text-secondary"></i><label>Horario de apertura: </label>
                </div>
                <div class="col-lg-6">
                  if service.timetable.open_minute == 0
                    <span> #{service.timetable.open_hour}:#{service.timetable.open_minute}0</span>
                  else
                    <span> #{service.timetable.open_hour}:#{service.timetable.open_minute}</span>
                </div>              
                <div class="col-lg-6">
                  <i class="icon-email text-secondary"></i><label>Horario de cierre:</label>
                </div>
                <div class="col-lg-6">
                   if service.timetable.close_minute == 0
                     <span>#{service.timetable.close_hour}:#{service.timetable.close_minute}0</span>
                   else
                     <span>#{service.timetable.close_hour}:#{service.timetable.close_minute}</span>
                </div>              
                <div class="col-lg-12" style="text-align:center">
                  <span><img src="/images/#{service.name}.jpg" style="border: 1px solid #666; width:100%; margin-top: 20px;"/></span>
                </div>           

              </div>
              </div>
            </div>             