doctype html  
html(lang='en')  
	head
		title Pug
	body
		form(action="/upload_user_image", method="post", enctype="multipart/form-data")
			input(type="text", name="userid" value="5aa12e0d6188ba0b385ad2ea")
			input(type="file", multiple, name="img_user")
			button(type="submit", value="Upload") Upload File