extends layout

block content
  h1= title

  ul
  each user in user_list
    <li>
       <a href="#{user.url}"> #{user.name} - #{user.surname} - #{user.floor} </a>
    </li>
  else
    li There are no users.  