extends header

block content
  header.masthead
    .container.h-100
      .row.h-100 
          .col-lg-6.my-auto.mx-auto          
            <div class="card">
              <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <h1 class="card-title"><img class="img_user_profile" src="/images/users/#{user._id}.jpg" onerror="this.src='/images/icons/user_default.jpg';"/></img></h1>
                </div>
                <div class="col-lg-9">
                  <h1> #{user.name} #{user.surname}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <i class="icon-email text-secondary"></i><label>Email: </label>
                </div>
                <div class="col-lg-10">
                  <span>#{user.email}</span>
                </div>              
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <i class="icon-email text-secondary"></i><label>Dirección: </label>
                </div>
                <div class="col-lg-10">
                  <span>#{user.address}</span>
                </div>              
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <i class="icon-email text-secondary"></i><label>Piso: </label>
                </div>
                <div class="col-lg-10">
                  <span>#{user.floor}º#{user.letter}</span>
                </div>              
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <i class="icon-email text-secondary"></i><label>Teléfono: </label>
                </div>
                <div class="col-lg-10">
                  <span>#{user.phone}</span>
                </div>              
              </div>                                          
              </div>
            </div>                
          .col-lg-4.my-auto.mx-auto
              .card-body.lg-12
                <ul>
                  <li>
                       <a href="/reservations"><button type="button" class="btn btn-secondary full-width">Haz tu reserva!</button></a>
                  </li>
                  <li>
                     <button type="button" class="btn btn-secondary full-width">Genera una incidencia</button>
                  </li>
                  <li>
                     <button type="button" class="btn btn-secondary full-width">Administrador</button>
                  </li>
                  <li>
                     <button type="button" class="btn btn-secondary full-width">Datos del portero</button>
                  </li>
                </ul>                                        