extends header

block content
  header.cont_main
    .container.h-100
      .row.h-100              
        each user in user_list 
          .col-lg-6.my-auto.mx-auto          
            <div class="card">
              <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <h2 class="card-title"><img class="img_user_profile" src="/images/users/#{user.id}.jpg" onerror="this.src='/images/icons/user_default.jpg';"/></i></h2>
                </div>
                <div class="col-lg-9">
                  <h4> #{user.name} #{user.surname}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <i class="icon-email text-secondary"></i><label>Email: </label>
                </div>
                <div class="col-lg-10">
                  <span>#{user.email}</span>
                </div>              
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <i class="icon-email text-secondary"></i><label>Dirección: </label>
                </div>
                <div class="col-lg-10">
                  <span>#{user.address}</span>
                </div>              
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <i class="icon-email text-secondary"></i><label>Piso: </label>
                </div>
                <div class="col-lg-10">
                  <span>#{user.floor}º#{user.letter}</span>
                </div>              
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <i class="icon-email text-secondary"></i><label>Teléfono: </label>
                </div>
                <div class="col-lg-10">
                  <span>#{user.phone}</span>
                </div>              
              </div>                                          
              </div>
            </div>                             
